@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-[#FAFAFA] dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
h1 {
  color: #1D1856;
  font-family: "Raleway" ;
  font-size: 5.3rem;
}
@media (prefers-color-scheme: dark) {
  h1 {
    color: white; /* Blanco para modo oscuro */
  }
}

.search-label {
  border-width: 1px;
  border-color: rgb(218, 222, 226); 
  background-color: #dadee2;
}

.search-select {
  @apply w-full md:w-auto;
  margin-right: 1rem;
  border-color: rgb(218, 222, 226);
}

.search-button {
  border-width: 1px;
  border-radius: 0.375rem;
  width: 7rem;
  margin-right: 1rem;
}
