@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

:root {
  --primary-text: #1D1856;
  --background-light: #FAFAFA;
  --background-dark: #0F172A;
  --border-light: #dadee2;
  --border-dark: #374151;
}

#root > div > div.contenedor.my-7 > div > div > div.MuiFormControl-root.MuiFormControl-marginNormal.MuiFormControl-fullWidth.MuiTextField-root.buscador.css-17vbkzs-MuiFormControl-root-MuiTextField-root.dark{
  background-color: #6dd73f;
}

html {
  @apply transition-colors duration-300;
}

body {
  background-color: var(--background-light);
  color: #1D1856;
  font-family: "Myriad Pro", "Arial", "Helvetica", sans-serif;
}

.dark body {
  background-color: var(--background-dark);
  color: #F9FAFB;
}

h1 {
  color: var(--primary-text);
  font-family: 'Raleway', sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
}

.dark h1 {
  color: white;
}

.search-label {
  border: 1px solid var(--border-light);
  background-color: #dadee2;
}

.dark .search-label {
  border-color: var(--border-dark);
  background-color: #1E293B;
}

.search-select {
  @apply w-full md:w-auto mr-4 border;
  border-color: var(--border-light);
}

.dark .search-select {
  border-color: var(--border-dark);
}

.search-button {
  @apply border rounded-md w-28 mr-4;
  border-color: gray;
}

.dark .search-button {
  border-color: #4B5563;
}
